{{! 移动端分享模态框}}
<div id="shareModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>分 享</h4>
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style_m"></div>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">关 闭</a>
    </div>
</div>
