<!-- 搜索遮罩框 -->
<div id="search-mask" style="display: none;">
    <form class="search-form" action="#!" autocomplete="off">
        <a href="#!" onclick="return false;" class="search-close">
            <i class="mdi-navigation-close"></i>
        </a>
        <div class="container row search-container">
            <div class="col offset-s1 s10 offset-m3 m8 offset-l4 l8">
                <div class="search-label center-align">
                    <label for="s">输入关键字后‘回车’即可</label>
                </div>
                <div>
                    <input type="search" id="searchKey" name="s" class="search-input" autofocus="">
                </div>
            </div>
        </div>
    </form>
</div>
