<!-- 主题颜色设置 -->
<div id="theme-change" left="-200" class="hide-on-med-and-down">
    <div class="theme-change-handle">
        <i class="fa fa-gear fa-lg fa-spin bf-text-color"></i>
    </div>
    <div class="theme-change-container">
        <h6>主题颜色面板</h6>
        <div id="theme-panel">
            <ul>
                <li class="bf-blue" data-colors="blue"></li>
                <li class="bf-pink" data-colors="pink"></li>
                <li class="bf-orange" data-colors="orange"></li>
                <li class="bf-green" data-colors="green"></li>
                <li class="bf-red" data-colors="red"></li>
                <li class="bf-purple" data-colors="purple"></li>
            </ul>
        </div>
    </div>
</div>
