/*全局基础样式*/
/*小屏幕下(手机类)的样式*/
@media only screen and (max-width: 601px) {
    .container {
        width: 95%;
    }
}
/*中等屏幕下(平板类)的样式*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
    .container {
        width: 85%;
    }
}
/*大屏幕下(桌面类)的样式*/
@media only screen and (min-width: 993px) {
    .container {
        width: 75%;
    }
}
body {
    background-color: #e5e5e5;
    margin: 0;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 4.0rem;
}
h2 {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 3.6rem;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3.0rem;
}
h4 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.0rem;
}
h5 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6rem;
}
h6 {
    font-size: 1rem;
    line-height: 1.5rem;
}
p {
    font-size: 1.05rem;
    margin: 0 0 10px;
    line-height: 1.8rem;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #999;
}
blockquote {
    border-left: 5px solid #27ae60;
    padding: 1.2rem 1rem 1.2rem 1.5rem;
    color: #666;
    background-color: #f1f8e9;
}
code[class*="language-"], pre[class*="language-"] {
    color: #32cd45;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
small {
    font-size: 85%;
}
cite {
    font-style: normal;
}
mark {
    background-color: #fcf8e3;
    padding: .2em;
}
.container .row {
    margin-bottom: 0px;
}
.bf-color {
    background-color: #3f51b5 !important;
}
.bf-text-color {
    color: #3f51b5 !important;
}
.bf-text-gray {
    color: #777 !important;
}
.bf-link {
    color: #3f51b5 !important;
}
.none-shadow {
    box-shadow: none;
}

/*各主题背景颜色和文字颜色样式*/
.bf-blue {
    background-color: #3f51b5 !important;
}
.bf-text-blue {
    color: #3f51b5 !important;
}
.bf-pink {
    background-color: #e91e63 !important;
}
.bf-text-pink {
    color: #e91e63 !important;
}
.bf-red {
    background-color: #F44336 !important;
}
.bf-text-red {
    color: #F44336 !important;
}
.bf-orange {
    background-color: #ff9800 !important;
}
.bf-text-orange {
    color: #ff9800 !important;
}
.bf-green {
    background-color: #0f9d58 !important;
}
.bf-text-green {
    color: #0f9d58 !important;
}
.bf-purple {
    background-color: #9c27b0 !important;
}
.bf-text-purple {
    color: #9c27b0 !important;
}

/*头部导航栏样式*/
@media only screen and (max-width: 600px) {
    header nav .brand-logo {
        left: 80px;
        font-size: 1.8rem;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
header .brand-logo .logo-img {
    height: 38px;
    vertical-align: middle;
}
header .button-collapse i {
    font-size: 1.7rem;
}
header .side-nav .mobile-head {
    padding: 0 15px;
}
header .side-nav .mobile-head img {
    margin-top: 30px;
    width: 75px;
    height: 75px;
}
header .side-nav .mobile-head .logo-name {
    margin-top: -25px;
    padding-left: 10px;
    font-size: 1.5rem;
}
header .side-nav .mobile-head .logo-desc {
    margin-top: -15px;
    padding-left: 10px;
    padding-bottom: 8px;
    font-size: 0.8rem;
    line-height: 1.3rem;
    color: #ccc;
}
header .side-nav .menu-list a{
    height: 50px;
    line-height: 50px;
}
header .side-nav .menu-list a i {
    line-height: 16px;
}
header .side-nav .fa-fw {
    width: 3.8rem;
    text-align: left;
}
header .side-nav .social-link {
    position: absolute;
    bottom: 40px;
    padding-left: 10px;
}
.social-link a {
    display: initial;
    padding: 0 12px;
}
header .go-back {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
}
header .go-back i {
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.7rem;
}

/*内容头部样式*/
.content .content-heading {
    margin-bottom: -50px;
    padding-bottom: 50px;
    color: #fff;
    z-index: 0;
    overflow: hidden;
    transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1);
}
.settings-content {
    margin-top: -10px;
}

/*文章列表卡片各样式*/
article a {
    margin-right: 0px !important;
    color: #212121;
    text-transform: none !important;
}
.articles .row {
    margin-left: 0;
    margin-right: 0;
}
article .card-image img {
    height: 230px;
}
article .article-content ul {
    padding-bottom: 2px;
    padding-left: 0;
    list-style: none;
}
article .article-content ul li{
    float: left;
    display: inline-block;
    padding-right: 20px!important;
}
article .article-tags .chip {
    font-size: 0.8rem;
    font-weight: 400;
    height: 22px;
    line-height: 22px;
    color: #fff;
    border-radius: 10px;
}
.paging .row {
    margin-left: 0;
    margin-right: 0;
}
.paging .page-info {
    font-size: 1.4rem;
    color: #666;
    height: 2.4rem;
    line-height: 2.8rem;
}
.paging i {
    font-size: 2.5rem;
}

/*文章详情样式*/
#artDetail a {
    margin-right: 0px !important;
    color: #4078c0;
    text-transform: none !important;
}
#artDetail .article-tag {
    margin-bottom: 13px;
}
#artDetail .article-tag .chip {
    font-size: 1rem;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    color: #fff;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 2px;
}
#artDetail .author-info span {
    margin-right: 30px;
}
#artDetail .article-card-content {
    padding: 5px 20px 20px;
}
#artDetail .article-share {
    margin-top: 10px;
    padding-bottom: 20px;
}
#artDetail .article-share .jt-share {
    margin-top: 5px;
}
.prenext-card .prenext-row {
    padding: 10px;
}
.prenext-card .prenext {
    padding-left: 20px;
    margin-bottom: 15px;
}
.prenext-card .pn-title {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

/*尾部样式*/
footer {
    padding-bottom: 1px;
}
footer a {
    color: #fff;
}
footer .copy-right {
    color: #bbb;
}

/*搜索层样式*/
#search-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #673AB7;
    opacity: 0.96;
    z-index: 999;
}
#search-mask a {
    color: #fff;
}
#search-mask .search-form {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#search-mask .search-close {
    position: absolute;
    right: 20px;
    top: 20px;
}
#search-mask .search-close i {
    font-size: 2.3rem;
}
#search-mask .search-container {
    position: fixed;
    top: 35%;
}
#search-mask .search-container .search-label label {
    font: 300 1.2rem Roboto;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}
#search-mask .search-container .search-input {
    padding-bottom: 5px;
    margin-top: 20px;
    height: auto;
    font: 400 2rem Roboto;
    color: #fff;
    text-align: center;
    border: none;
}

/*主题颜色设置面板样式*/
#theme-change {
    position: fixed;
    padding: 15px;
    top: 160px;
    left: -200px;
    width: 200px;
    height: auto;
    background-color: #fff;
    z-index: 995;
    border: 1px solid;
    border-left: none;
}
#theme-change .theme-change-handle {
    cursor: pointer;
    position: absolute;
    background-color: white;
    width: auto;
    height: 45px;
    top: -1px;
    right: -47px;
    padding: 10px;
    text-align: center;
    border: 1px solid;
    border-left: none;
}
#theme-change .theme-change-handle i {
    font-size: 2.2rem;
}
#theme-change .theme-change-container ul li {
    width: 150px;
    height: 20px;
    margin-top: 5px;
    cursor: pointer;
}
#theme-change .theme-change-container ul li.selected {
    outline: 2px solid black;
}

/*回到顶部按钮样式*/
.top-scroll {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
.top-scroll i {
    font-size: 2.2rem;
}
